<p>IF NUMBER=1 AND POSTAGE=NO The cost of 1 [certificate of no impediment / Nulla Osta / certificate of custom law] is £65.</p>
<p>IF NUMBER=1 AND POSTAGE=YES The cost of 1 [certificate of no impediment / Nulla Osta / certificate of custom law] plus postage is £75.</p>
<p>IF NUMBER>1 AND POSTAGE=NO The cost of [NUMBER] [certificates of no impediment / Nulla Ostas / certificates of custom law] is £[NUMBER*65].</p>
<p>IF NUMBER>1 AND POSTAGE=YES The cost of [NUMBER] [certificates of no impediment / Nulla Ostas / certificates of custom law] plus postage is £[(NUMBER*65)+10].</p>
