<p>Your payment reference is <%= @epdq_response.parameters[:payid] %></p>

<p>[Print this page] and send it, along with your application form and supporting documents listed on the form, to the Foreign &amp; Commonwealth Office (FCO). The address is on the form.</p>
