<p>You have paid for [NUMBER] [certificate of no impediment / Nulla Osta / certificate of custom law / certificates of no impediment / Nulla Ostas / certificates of custom law] [IF POSTAGE=YES, plus postage].</p>

<p>Your payment reference is <%= @epdq_response.parameters[:payid] %></p>

<p>[Print this page] and send it, along with your application form and supporting documents listed on the form, to the Foreign & Commonwealth Office (FCO). The address is on the form.</p>
