<p>Deposit your marriage or civil partnership certificate at the General Register Office (GRO) for safe-keeping if you got married abroad and you’re resident in the UK.</p>

<div class="help-notice">
<p>From 1 January 2014 this service is no longer available. Any applications submitted after this date will be cancelled and any payment refunded.</p>
</div>

<%= render "partials/questions/document_count", :question_text => "How many certificates do you need to deposit? Each one costs &pound;#{@transaction.document_cost}." %>

<%= render "partials/questions/postage_fee_yes_no", :question_text => "Do you want to pay the &pound;#{@transaction.postage_cost} postage fee to have your documents returned?" %>
