<p>IF POSTAGE=NO The cost to deposit [NUMBER] [certificate / certificates] is £[NUMBER*35].</p>
<p>IF POSTAGE=YES The cost to deposit [NUMBER] [certificate / certificates] plus postage is £[(NUMBER*35)+10].</p>
