<p>You have paid to deposit [NUMBER] [certificate / certificates] [IF POSTAGE=YES, plus postage].</p>

<p>Your payment reference is <%= @epdq_response.parameters[:payid] %></p>

[Print this page] and send it, along with your [certificate / certificates], application form and supporting documents listed on the form, to the Foreign &amp; Commonwealth Office (FCO). The address is on the form.
