<p><%= question_text %></p>
<ul>
  <% @transaction.document_types.each do |value,label| %>
    <li>
      <%= label_tag "transaction_document_type_#{value}" do %>
        <% formatted_label = label.dup.tap {|l| l[0] = l[0].upcase } %>
        <%= radio_button_tag "transaction[document_type]", value %> <%= formatted_label %>
      <% end %>
  </li>
<% end %>
</ul>
