<p>Pay the Foreign &amp; Commonwealth Office (FCO) to register the death of a British national abroad.</p>
<%= render "partials/questions/registration_count", :question_text => "How many registrations do you need to pay for? Each one costs &pound;#{@transaction.registration_cost}." %>

<%= render "partials/questions/document_count", :question_text => "How many death certificates do you need? Each one costs &pound;#{@transaction.document_cost}." %>

<%= render "partials/questions/postage_fee_yes_no", :question_text => "Do you want to pay the &pound;#{@transaction.postage_cost} postage fee to have your documents returned?" %>
