<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1>EPDQ Transactions</h1>
    </hgroup>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
          <ul>
            <li><%= link_to "Pay for certificates for marriage", transaction_path("pay-for-certificates-for-marriage") %></li>
            <li><%= link_to "Pay to deposit marriage and civil partnership documents in the UK", transaction_path("pay-to-deposit-marriage-documents") %></li>
            <li><%= link_to "Pay to register a death abroad in the UK", transaction_path("pay-to-register-death-abroad") %></li>
            <li><%= link_to "Pay to register a birth abroad in the UK", transaction_path("pay-to-register-birth-abroad") %></li>
          </ul>
       </div>
     </article>
  </div>

</section>

<div id="related-items"></div>
