<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <h1><span>Service</span> <%= @transaction.title %></h1>
    </div>
  </header>
  <div class="article-container group">
      <article role="article" class="group">
       <div class="inner">
          <p>There was a problem making your payment to the Foreign &amp; Commonwealth Office.</p>
       </div>
     </article>
  </div>

</main>

<div id="related-items"></div>

<% content_for :wrapper_classes do %>service<% end %>
<% content_for :title do %><%= @transaction.title %><% end %>
