<p>It costs &pound;<%= @calculation.total_cost %> for <%= pluralize @calculation.document_count, "document" %><% if @calculation.postage_option_label != "" %> plus <%= @calculation.postage_option_label %> postage<% end %>.</p>
